<!--Written by Natalie Crawford-->
<!DOCTYPE html>
<html>
<head style = "color: rgb(54,123,147);font-family: Georgia; text-align:center; font-size: xxx-large">
    <title>Topic Modeling</title>
</head>
<body  style = "background: rgb(137,191,211); font-family: Georgia;">

<h1 style = "color: rgb(54,123,147);font-family: Georgia; text-align:center;">Topic Modeling</h1>
<P id = "welcome" style="font-size: x-large; text-align: center; " >Upload a .txt File</P>

<!--upload data file-->
<div class="upload" style="text-align:  center";>
    <form action = "http://127.0.0.1:5000/uploader" method = "POST" id="upload"
            enctype = "multipart/form-data" >
            <input type = "file" name = "file" />
            <input type='submit' />
    </form>
</div>


</body>
</html>